@import '../node_modules/bulma/sass/utilities/initial-variables';

:root {
    /* Your default theme */
    --hr: #56AEC460;
    --body-background-color: #E1F0F0;
    --text: #252B2C;
    --link-hover: #252B2C;
    --border-tab: hsl(0deg, 0%, 86%);
    --pre-background-color: #F5F5F5;
  }
  
  [data-theme='dark'] {
    /* Dark theme */
    --hr: #56AEC4;
    --body-background-color: #181A1B;
    --text: #CECAC4;
    --link-hover: #CECAC4;
    --border-tab: rgb(58, 63, 65);
    --pre-background-color: #1e2021;
  }



$link: #56AEC4;
$primary: $link;
$white: #E1F0F0;

$hr: var(--hr);
$body-background-color: var(--body-background-color);
$text: var(--text);

@import '~bulma/bulma';

pre, code{
    background-color: var(--pre-background-color);
}

.title, strong {
    color: $text;
}

.iconito{
    cursor: pointer;
    font-size: 15px;
}

.my-link{
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color: var(--link-hover) !important
}

body {
    font-family: Ubuntu, Fira sans, -apple-system, sans-serif;
}

hr {
    border: 0.5px solid $hr;
}

iframe{
    margin-bottom: 2em;
}

.principal{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.emoji{
    transition: font-size 0.5s;
    font-size: 49px;
}
.emoji:hover{
    font-size: 69px;
}

.tabs ul{
    border-bottom-color: var(--border-tab);
}
.tabs a{
    border-bottom-color: var(--border-tab);
}
.tabs a:hover{
    border-bottom-color: var(--hr);
}

@media (min-width: 769px)  {
    .my-icon{
        font-size: 2em;
    }
}
@media (max-width: 768px)  {
    .is-pulled-right{
        float: left !important;
    }

    .my-icon{
        font-size: 1.5em;
    }
}